.box {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 8px;
    padding-bottom: 16px;
}

.input {
    cursor: text;
    border-radius: 10px;
    border: solid 1px #2C3E50;
    height: 16px;
    padding: 10px;
    outline: none;
}