#title::after {
    content: '';
    display: block;
    height: 2px;
    width: 740px;
    background-color: black;
}

#list-member {
    width: 100%;
    height: calc(100vh - 405px);
    display: flex;
    flex-direction: column;
    align-items: center;
}